.div-button {
	border: none;
	height: 45px;
	width: 45%;
	float: right;
}

.show-button {
	background-color: green;
	color: white;
	border: none;
	padding: 10px 30px;
	font-size: 20px;
	cursor: pointer;
	opacity: 0.7;
}
.div-right{
	float: right;
}